recursive-include duck *
exclude duck/**/__pycache__
exclude duck/**/__pycache__/*.pyc
exclude duck/**/.logs
exclude duck/**/.logs/*.log
exclude duck/**/.cache/
exclude duck/**/.cache/*
exclude duck/**/testing/assets
exclude duck/**/testing/.ducksight
exclude duck/**/testing/.processes.json
exclude duck/**/testing/.ipc
exclude duck/**/testing/**/.ipc
